/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-016d57da-4rucml9a.master.item-box    {
	min-height: 418px;
}
 
 #vbid-016d57da-8otprari.master.item-box    {
	min-height: 53px;
}
 
 #vbid-016d57da-srqrl6zp   {
	background-position: 53.9237670898438% 51.5926666259766%;
}
 
 #vbid-016d57da-qv93wbs0.master.item-box    {
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 114px;
} 
 #vbid-016d57da-qv93wbs0.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-016d57da-sweqbjtx.master.item-box    {
} 
 #vbid-016d57da-sweqbjtx.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 503px;
}
 
 #vbid-016d57da-mbmsfdib.master.item-box    {
	min-height: 266px;
}
 
 #vbid-016d57da-vhgfqwrt.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 392px;
}
 
 #vbid-016d57da-2rvfd5gh.master.item-box    {
	padding-top: 30px;
	padding-bottom: 20px;
} 
 #vbid-016d57da-2rvfd5gh.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-016d57da-7bxrsuvn.master.item-box    {
	min-height: 471px;
}
 
 #vbid-016d57da-y4auuans.master.item-box    {
	min-height: 781px;
}