/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-0083f9c0-garaa26g.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 445px;
}