/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-0083f9c0-t5jmrwff
 *                                 	 
 ******************************************************************************************************/
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff.master.item-box   {
		
						background-color: rgb(244, 213, 56);	
		}
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .preview-title  ,  .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .preview-body h1  { 
						font-size: 30px;
						text-transform: uppercase;
						color: rgb(0, 0, 0);
						letter-spacing: 0.05em;
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Montserrat;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .preview-link-img  {
		
						width: 41px;
						margin: 7px;	
		}
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: center;
						max-width: 650px;
						padding-right: 0px;
						margin-top: 50px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 50px;
						background-color: rgba(255, 255, 255, 0);
						border-color: rgba(253, 253, 253, 0.53);
						padding-left: 0px;	
		}
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .preview-item-links span  ,  .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff #sr-basket-widget *  { 
						font-size: 13px;
						color: rgb(255, 255, 255);
						padding-bottom: 10px;
						border-color: rgb(255, 255, 255);
						letter-spacing: 0.15em;
						padding-right: 20px;
						margin-top: 30px;
						padding-left: 20px;
						padding-top: 10px;
						font-family: Arial;
						background-color: rgb(0, 0, 0);	
		}
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .background-image-div  {
		
						color: rgb(0, 0, 0);	
		}
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .preview-social-holder  {
		
						margin-bottom: 10px;
						margin-top: 10px;	
		}
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .preview-icon-holder  {
		
						margin-bottom: 40px;	
		}
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .inner-pic  {
		
						color: rgb(0, 0, 0);	
		}
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .preview-item-links span:hover  ,  .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						background-color: rgb(57, 57, 57);	
		}
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .preview-body  {
		
						line-height: 1.4em;
						font-size: 12px;
						text-transform: uppercase;
						color: rgb(0, 0, 0);
						letter-spacing: 0.05em;
						max-width: 600px;
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Arial;	
		}
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .preview-element.icon-source  {
		
						margin-bottom: 15px;
						width: 60px;	
		}
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff  .preview-content-wrapper  {
		
						text-align: center;	
		}
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .middle_layout .helper-div  ,  .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .preview-subtitle  ,  .style-8e7ece6d-dzebo07f .style-0083f9c0-t5jmrwff .preview-body h2  { 
						font-family: Abel;
						font-size: 13px;
						margin-right: 0px;
						color: rgb(0, 0, 0);
						letter-spacing: 0.55em;
						font-weight: bold;
						margin-top: 10px;
						margin-left: 0px;
						margin-bottom: 20px;
						line-height: 1.1em;
						background-color: rgba(0, 0, 0, 0);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
